<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u.eqtest">

    <application
        android:label="EQTest"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".EQTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
</manifest>
